@{
    ViewBag.Title = "NotFound";
}

<div class="row">
    <div class="page-header">
        <h1>Oops, looks like there's nothing here!</h1>
    </div>
</div>

<div class="row">
    <blockquote>
        <p>"As much as I'm sure you love looking at witty not found pages, you should probably just go back to the <a href="/">home page</a>."</p>
        <small>Anonymous Web Developer</small>
    </blockquote>
</div>
