@{ Layout = null; }

<script id="row-template" type="text/x-handlebars-template">
    <tr>
        <td>        
            <input class="form-control" data-val="true" data-val-required="The {{prop}} field is required." id="{{type}}_{{index}}__{{prop}}" name="{{type}}[{{index}}].{{prop}}" type="text"/>               
            <span class="field-validation-error" data-valmsg-for="{{type}}[{{index}}].{{prop}}" data-valmsg-replace="true"></span>
        </td>
        <td>       
            <input class="form-control" data-val="true" data-val-required="The Value field is required." id="{{type}}_{{index}}__Value" name="{{type}}[{{index}}].Value" type="text"/>
            <span class="field-validation-error" data-valmsg-for="{{type}}[{{index}}].Value" data-valmsg-replace="true"></span>
        </td>
        <td class="table-actions">
            <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="{{type}}_{{index}}__Id" name="{{type}}[{{index}}].Id" type="hidden" value="0" />
            <button type="button" class="btn btn-danger btn-xs remove-row">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
</script>