<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Theme <b class="caret"></b></a>
    <ul class="dropdown-menu">                            
        <li><a class="theme" data-css="">Default</a></li>
        <li class="divider"></li>
        <li><a class="theme" data-css="/Content/bootstrap-theme.min.css">Bootstrap 3</a></li>
        <li><a class="theme" data-css="/Content/bootstrap-flatly.min.css">Flatly</a></li>
        <li><a class="theme theme-dark" data-css="/Content/bootstrap-slate.min.css">Slate</a></li>
        <li><a class="theme" data-css="/Content/bootstrap-spacelab.min.css">Spacelab</a></li>
        <li class="divider"></li>
        <li class="text-center">
            <p>Navigation Bar</p>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm btn-primary nav-theme">
                <input type="radio" name="nav_theme" id="nav_light"> Normal
                </label>
                <label class="btn btn-sm btn-primary nav-theme">
                <input type="radio" name="nav_theme" id="nav_dark"> Inverse
                </label>
            </div>
        </li>
    </ul>
</li>